#dev files
dev_settings.py
dev_settings.yml
db.sqlite3
ToDo
Notes.md
*.bak
migrations/

#python files
__pycache__/
*/__pycache__/
*.py[cod]
.pyc

#node files
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
venv

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.editorconfig

star_navi_backend/media/
